In [ ]:

DROP TABLE monsters;

CREATE TABLE monsters (
    IDkey int,
    npcName VARCHAR(64),
    hp int,
    att int,
    savMod int,
    --specAtt1 int,
    --specAtt2 int,
    --specAtt3 int,
)

INSERT INTO monsters(npcName, hp, att, savMod) VALUES
    ('Goblin', 5, 2, 1),
    ('Kobold', 8, 2, 2);

SELECT * FROM monsters;